.env
.env.*
!.env.example

frontend/node_modules/
frontend/dist/
frontend/.angular/

**/target/
**/logs/

**/__pycache__/
**/*.pyc

.vscode/
.idea/
backend/.vscode/

backend/mvnw
backend/mvnw.cmd
backend/.mvn/wrapper/maven-wrapper.jar
backend/.mvn/wrapper/maven-wrapper.properties
