.env
.env.*
!.env.local.example
!.env.cloud-provider.example

.artifacts/
frontend/node_modules/
frontend/dist/
frontend/.angular/

**/target/
**/logs/

**/__pycache__/
**/*.pyc

.vscode/
.idea/
backend/.vscode/
